* {
box-sizing: border-box;
margin: 0;
padding: 0;

}

div {
    display: none !important;
}

body {
background-color: #f4f6f9;
color: #222;
font-family: Georgia, serif;
}


.container {
display: flex;
min-height: 100vh;
}


.sidebar {
width: 220px;
background-color: #1e293b;
color: #fff;
display: flex;
flex-direction: column;
padding: 20px;
}


.brand {
text-align: center;
margin-bottom: 30px;
}


.menu {
display: flex;
flex-direction: column;
gap: 10px;
}


.menu a {
text-decoration: none;
color: #cbd5e1;
padding: 10px 12px;
border-radius: 6px;
transition: background 0.2s;
}


.menu a:hover {
background: rgba(255, 255, 255, 0.1);
}


.menu a.active {
background-color: #2563eb;
color: #fff;
}


.content {
flex: 1;
padding: 30px;
}


.topbar {
margin-bottom: 20px;
border-bottom: 2px solid #e2e8f0;
padding-bottom: 10px;
}


.main-section {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.split-container {
  display: flex;
  gap: 20px; /* mezera mezi levým a pravým panelem */
}

.left, .right {
  flex: 1; /* oba panely mají stejnou šířku */
  /*display: flex;*/
  flex-direction: column;
  gap: 10px;
}

.right {
    font-family: 'Courier New', monospace;
}


button {
margin-top: 15px;
padding: 10px 14px;
background-color: #2563eb;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
font-weight: bold;

width: 180px;
}


button:hover {
background-color: #1e40af;
}